body{
    background-color: #F8F8FB;
}

p{
    margin-bottom: 0px!important;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.align-center{
    align-items: center;
}

.justify-end{
    justify-content: end;
}

.direction-column{
    flex-direction: column;
}

.text-center{
    text-align: center;
}


/*Estilização nav*/
nav div:last-child{
    margin-right: 83px;
}

nav{
    min-height: 100px;
    background-color: white;
}

nav div:last-child img{
    margin-left: 14px;
}

#arrow{
    margin-left: 18px;
    margin-right: 30px;
}
/*Estilização nav*/

aside{
    position: fixed;
    margin-top: -100px;
    background-color: #373B53;
    height: 100vh;
}

canvas{
    background-color: #6F52ED;
}

main{
    margin-left: 100px;
    padding-left: 60px;
    padding-top: 43px;
}


aside{
    max-width: 100px;
}

aside svg{
    color: #969CBA;
    margin-top: 52px;
}

aside svg:hover{
    background-color: white;
    color: #6F52ED;
    margin-top: 52px;
    border-radius: 5px;
    width: 54px;
    height: 54px;
    padding: 15px;
}